
<form action="/Admin/Jobs/AddJob" method="post">
    <input class="form-control" name="JobCategory" id="BoxName" placeholder="گروه جدید"/>
    <br />
    <button class="button button-danger" data-dismiss="modal">بستن</button>
    <button id="submit-form"  class="button button-primary">ذخیره تغییرات</button>
</form>


