body {
  direction: rtl;
  text-align: right;
}




.top-btn {
  right: auto;
  left: 30px;
}
.signup-form .other-signup ul {
  padding-left: auto;
  padding-right: 0;
}
.signin-form .other-signin ul {
  padding-left: auto;
  padding-right: 0;
}
.banner-section .banner-content .banner-form .form-group label {
  padding-left: auto;
  padding-right: 20px;
}
.reset-form .form-group label {
  padding-left: auto;
  padding-right: 20px;
}
.signup-form .form-group label {
  padding-left: auto;
  padding-right: 20px;
}
.signin-form .form-group label {
  padding-left: auto;
  padding-right: 20px;
}
.find-form .form-group label {
  padding-left: auto;
  padding-right: 20px;
}
.use-text span {
  right: 0;
  left: -100px;
}
.why-choose::before {
  left: auto;
  right: 0;
}
.price-card .price-feature ul {
  padding-left: auto;
  padding-right: 30px;
}
.footer-area::before {
  right: auto;
  left: 60px;
}
.banner-section .banner-content .keyword {
  padding-left: auto;
  padding-right: 0;
}
.counter-section .counter-text i {
  left: auto;
  right: 0;
}
.testimonial-slider-two .testimonial-items .testimonial-info-text {
  padding-left: auto;
  padding-right: 50px;
}
.theme-btn .default-btn {
  margin-right: auto;
  margin-left: 15px;
}
.job-card-two .theme-btn .default-btn {
  margin-right: auto;
  margin-left: 0;
}
.job-details-text .job-card .job-info ul li {
  padding-right: auto;
  padding-left: 10px;
}
.job-info-two::before {
  left: auto;
  right: 0;
}
.job-card .job-info ul li {
  padding-right: auto;
  padding-left: 10px;
}
.browse-job .browse-jobs-text .app-btn .app-store, .browse-job .browse-jobs-text .app-btn .play-store {
  margin-right: auto;
  margin-left: 15px;
}
.job-post-from .form-group .nice-select::after {
  right: auto;
  left: 20px;
}
.job-sidebar.social-share ul {
  padding-left: auto;
  padding-right: 0;
}
.job-sidebar ul {
  padding-left: auto;
  padding-right: 0;
  text-align: right;
}
.candidate-card .candidate-text ul {
  padding-left: auto;
  padding-right: 0;
}
.candidate-profile ul li a i {
  margin-right: auto;
  margin-left: 10px;
}
.candidate-profile ul {
  padding-left: auto;
  padding-right: 0;
}
.candidate-info-text.candidate-skill ul li {
  margin-right: auto;
  margin-left: 8px;
}
.candidate-info-text.candidate-skill ul {
  padding-left: auto;
  padding-right: 0;
}
.reset-form .form-group small {
  padding-left: auto;
  padding-right: 20px;
}
.resume-area .resume-content.education-text .education-info span::before {
  left: auto;
  right: 0;
}
.resume-area .resume-content.education-text .education-info span {
  padding-left: auto;
  padding-right: 20px;
}
.resume-area .resume-content.experience-text .experience-info span::before {
  left: auto;
  right: 0;
}
.resume-area .resume-content.experience-text .experience-info span {
  padding-left: auto;
  padding-right: 20px;
}
.blog-widget.blog-search form .form-group button {
  right: auto;
  left: 0;
}
.blog-widget .popular-post .blog-thumb {
  float: right;
  margin-right: auto;
  margin-left: 14px;
}
.blog-widget.blog-category ul li span {
  float: left;
}
.blog-dedails-text .blog-meta ul {
  padding-left: auto;
  padding-right: 0;
}

.blog-dedails-text .blog-meta ul li {
  margin-right: auto;
  margin-left: 20px;
}

.blog-dedails-text .blog-meta ul li i {
  margin-right: auto;
  margin-left: 2px;
}
.blog-dedails-text .details-tag ul li {
  margin-right: auto;
  margin-left: 5px;
}
.blog-dedails-text .comment-form h3::before {
  left: auto;
  right: -30px;
}
.contact-form-section .contact-area .help-block ul {
padding-right: 0;
}









/* Home Page One */
.navbar-area .main-nav .navbar .other-option .signup-btn {
  margin-right: 10px;
  margin-left: 0;
}

.navbar-area .main-nav .navbar .navbar-nav .nav-item .dropdown-menu {
  text-align: right;
}

.banner-section .banner-content .banner-form .form-group {
  text-align: right;
}

.banner-section .banner-content .banner-form .find-btn i {
  right: 10px;
}

.job-card .job-info ul {
  padding-right: 0;
}

.job-card .job-info ul li {

}

.why-choose-text .media i {
  margin-right: 0 !important;
  margin-left: 16px;
}

.recruiting-card .bottom-icon, .looking-job .bottom-icon {
  left: 10px;
  right: inherit;
}

.recruiting-card .media i, .looking-job .media i {
  margin-left: 16px;
  margin-right: 0 !important;
}

.price-card .price-feature ul {

}

.condidate-item .candidate-text ul {
  padding-right: 0;
}

.condidate-item .candidate-text .bottom-text p {
  float: right;
}

.condidate-item .candidate-text .bottom-text a {
  float: left;
}

.testimonial-items .testimonial-img {
  margin-left: 0px;
  margin-right: 15px;
}

.testimonial-items .testimonial-text {
  margin-left: 15px;
  margin-right: 0;
}

.price-card::before {
  left: inherit;
  right: 0;
}

.testimonial-slider .owl-next {
  left: 25px;
  right: inherit;
}

.blog-card .blog-text ul {
  padding-right: 0;
}

.blog-card .blog-text ul li {
  margin-right: 0px;
  margin-left: 20px;
}

.footer-area .footer-widget h3::before {
  left: inherit;
  right: 0;
}

.footer-area .footer-widget ul {
  padding-right: 0;
}

.footer-area .footer-widget.pl-60 {
  padding-right: 60px;
  padding-left: 0;
}

.footer-area .footer-widget.footer-info ul li a {
  padding-right: 25px;
  padding-left: 0;
}

.footer-area .footer-widget.footer-info ul li:last-child {
  padding-right: 25px;
  padding-left: 0;
}

.footer-area .footer-widget.footer-info ul li:last-child span {
  right: -25px;
  left: 0;
}

.footer-area .footer-widget.footer-info ul li span i {
  margin-right: 0px;
  margin-left: 5px;
}

.footer-area .footer-widget .footer-social a i {
  margin-left: 5px;
  margin-right: 0;
}

/* Home Page Two */
.banner-style-two .banner-img {
  left: 5%;
  right: inherit;
}

.find-form .form-group i {
  left: 15px;
  right: inherit;
}

.find-form .find-btn i {
  left: 0;
  right: 10px;
}

.find-form .nice-select::after {
  left: 20px;
  right: inherit;
}

.find-form .nice-select .option {
  text-align: right;
}

.find-form .nice-select .current {
  float: right;
}

.job-card-two .job-info {
  padding-right: 35px;
  padding-left: 0;
}

.job-card-two .job-info ul {
  padding-right: 0;
}

.job-card-two .job-info ul li {
  padding-left: 10px;
  padding-right: 0;
}

.job-card-two .theme-btn.text-right {
  text-align: left !important;
}

/* Home Page Three */
.category-item {

}

.category-item i {

}

.browse-job::before {
  right: inherit;
  left: 0;
}

.browse-job .browse-jobs-text .app-btn .play-store i, .browse-job .browse-jobs-text .app-btn .app-store i {
  right: 15px;
  left: inherit;
}

.browse-job .browse-job-img {
  left: 20%;
  right: inherit;
}

.subscribe-section .newsletter-form .form-control {
text-align: right;
}

/* Home Page Four */
.banner-style-four::before {
  right: 0;
  left: inherit;
}

.banner-style-four .banner-text .theme-btn .default-btn {
  margin-left: 15px;
  margin-right: 0;
}

.banner-style-four .banner-img {

}

.how-works .media i {
  margin-right: 0 !important;
  margin-left: 16px !important;
}

/* About Page CSS */
.page-title ul li::before {
  left: -28px;
  right: inherit;
  top: 3px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

/* Job Destails Page CSS */
.job-details-text .details-text ul {
  padding-right: 0;
}

/* Candidates CSS */
.candidate-info-text.candidate-experience ul {
  padding-left: 0;
  padding-right: 20px;
}

/* Company page CSS */
.company-style-two .pagination {
  padding-right: 0;
}

/* Account Page CSS */
.account-information ul {
  padding-right: 0;
  text-align: right;
}

.account-information ul li a i {
  margin-right: 0;
  margin-left: 5px;
}

.account-details form .account-btn {
  margin-right: 0;
  margin-left: 10px;
}

/* Sign In Page CSS  */
.signin-section .offset-lg-3 {
  margin-right: 25%;
  margin-left: 0;
}

.signin-section .other-signin ul {
  padding-right: 0;
}

/* Sign Up Page CSS  */
.signup-section .offset-lg-3 {
  margin-right: 25%;
  margin-left: 0;
}

.signup-section .other-signup ul {
  padding-right: 0;
}

/* Resume Page CSS */
.resume-area .resume-content.basic-info-text ul {
  padding-right: 0;
}

.resume-area .resume-content.basic-info-text ul li {
  margin-right: 0px;
  margin-left: 20px;
}

.resume-area .resume-content.basic-info-text ul li span {
  margin-right: 0;
  margin-left: 30px;
}

.resume-area .resume-content h3 i {
  margin-left: 5px;
  margin-right: 0;
}

/* Error Page CSS */
.error-section .offset-md-2 {
  margin-right: 16.666667%;
}

/* Faq Page CSS */
.faq-section .offset-lg-3 {

}

/* Category CSS */
.pagination {
  padding-right: 0;
}

.categories-section .offset-md-2 {
  margin-right: 0;
  margin-left: 0;
}

/* Blog Page CSS */
.blog-widget.blog-search form .form-group .form-control {
text-align: right;
}

.blog-widget h3::before {
  right: -30px;
  left: inherit;
}

.blog-widget.blog-category ul {
  padding-right: 20px;
}

.blog-widget.blog-tags ul {
  padding-right: 0;
}

/* Blog Details CSS */
.blog-dedails-text .details-tag ul {
  padding-right: 0;
}

/* Contact CSS */
.contact-card-section .offset-lg-1 {
  margin-right: 8.333333%;
}

.contact-card ul {
  padding-right: 0;
}

/**
=======================
Responsive CSS
=======================
**/
@media (max-width: 767px) {






  .navbar-area .mobile-nav .logo {
    text-decoration: none;
    position: absolute;
    top: 11px;
    z-index: 999;
right: 15px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 20px;
max-width: 100px;
  }

  .navbar-area .mean-container a.meanmenu-reveal {
    padding: 15px 0 0 15px;
  }







  /* Home Page One */
  .footer-area .footer-widget.pl-60 {
    padding-right: 0;
  }
  /* Home Page Two*/
  .banner-style-two .banner-img {
    left: inherit;
  }
  .job-card-two .job-info {
    padding-right: 0;
  }
  .job-card-two .theme-btn.text-right {
    text-align: center !important;
  }
  .testimonial-slider-two .testimonial-items .testimonial-info-text {
    padding-left: 0px;
    padding-right: 50px;
  }
  /* Home Page Three */
  .banner-style-three {
    z-index: 0;
  }
  .banner-style-three::before {
    z-index: -1;
  }
  .browse-job .browse-jobs-text .app-btn .app-store {
    margin-bottom: 10px;
  }
  .browse-job .browse-jobs-text .app-btn .app-store i, .browse-job .browse-jobs-text .app-btn .play-store i {
    left: inherit !important;
  }
  .browse-job .browse-jobs-text .app-btn .app-store ul, .browse-job .browse-jobs-text .app-btn .play-store ul {
    padding-right: 30px;
    text-align: right;
  }
  .browse-job .browse-job-img {
    left: 0;
    right: inherit;
  }
  /* Home Page CSS */
  .banner-style-four .banner-img {
    left: 0;
  }
  /* Job List page CSS */
  .job-list-section .pagination {
    padding-right: 0;
  }
  /* Job Grid Page CSS */
  .jobs-grid-section .pagination {
    padding-right: 0;
  }
  /* Candidates CSS */
  .candidate-info-text.candidate-experience ul {

  }
  /* Sign In Page CSS */
  .signin-section .offset-lg-3 {
    margin-right: 0;
    margin-left: 0;
  }
  /* Sign Up Page CSS */
  .signup-section .offset-lg-3 {
    margin-right: 0;
    margin-left: 0;
  }
  /* Error CSS */
  .error-section .offset-md-2 {
    margin-right: 0;
  }
  /* Categories Page CSS */
  .categories-section .offset-md-2 {
    margin-right: 0;
    margin-left: 0;
  }
  /* Contact Page CSS */
  .contact-card-section .offset-lg-1 {
    margin-right: 0;
  }
}

@media (min-width: 768px) and (max-width: 991px) {





  .navbar-area .mobile-nav .logo {
left: auto;
right: 15px;
max-width: 100px;
  }

  .navbar-area .mean-container a.meanmenu-reveal {
    padding: 15px 0 0 15px;
  }
.testimonial-items .offset-lg-0 {
  margin-right: 25%;
}
  .reset-password .offset-lg-3 {
    margin-right: 16.666667%;
    margin-left: 0;
  }






  /* Home Page One */
  .footer-area .footer-widget.pl-60 {
    padding-right: 0;
  }
  /* Home Page Three */
  .banner-style-three {
    z-index: 0;
  }
  .banner-style-three::before {
    z-index: -1;
  }
  .browse-job .browse-job-img {
    left: 0;
    right: inherit;
  }
  /* Home Page Four */
  .category-style-three .offset-md-2 {
    margin-left: 0;
  }
  .choose-style-two .offset-sm-2 {
    margin-right: 16.666667%;
    margin-left: inherit;
  }
  /* Sign In Page CSS */
  .signin-section .offset-md-2 {
    margin-right: 16.666667%;
    margin-left: 0;
  }
  /* Sign Up Page CSS */
  .signup-section .offset-md-2 {
    margin-right: 16.666667%;
    margin-left: 0;
  }
  /* Contact Page CSS */
  .contact-card-section .offset-lg-1 {
    margin-right: 0;
  }
}

/*# sourceMappingURL=rtl.css.map */











@media (min-width: 576px) and (max-width: 767px) {

  .choose-style-two .offset-sm-2 {
    margin-right: 16.666667%;
    margin-left: inherit;
  }

}



@media (min-width: 992px) {

  .reset-password .offset-lg-3 {
    margin-right: 25%;
    margin-left: 0;
  }


.faq-section .offset-lg-3 {
  margin-right: 25%;
}


}