@model IEnumerable<UscProject.Areas.KarFarma.ViewModel.FormTable>
@{
    ViewBag.Title = "FormTables";
    Layout = "~/Areas/KarFarma/Views/Shared/_KarFarmaLayout.cshtml";
}

<!-- Page Headings Start -->
<div class="row justify-content-between align-items-center mb-10">

    <!-- Page Heading Start -->
    <div class="col-12 col-lg-auto mb-20">
        <div class="page-heading">
            <h3 class="title">جداول <span>/ فرم‌ها</span></h3>
        </div>
    </div><!-- Page Heading End -->

</div><!-- Page Headings End -->

<div class="row">

    <!--Basic Start-->
    <div class="col-12 mb-30">
        <div class="box">
            <div class="box-head">
                <h3 class="title">فرم‌ها</h3>
            </div>
            <div class="box-body">

                <table class="table footable" data-paging="true" data-filtering="true" data-sorting="true" data-breakpoints='{ "xs": 480, "sm": 768, "md": 992, "lg": 1200, "xl": 1400 }'>
                    <thead>
                        <tr>
                            <th data-name="نام">شماره</th>
                            <th data-breakpoints="xs" data-name="موقعیت">تاریخ تشکیل</th>
                            <th  data-breakpoints="xs" data-name="موقعیت">عملیات</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var g in Model)
                        {
                            <tr>
                                <td>@g.count</td>
                                <td>@g.DateOfMake.ToShamsi()</td>
                                <td><a onclick="view(@g.formid)"><span class="badge badge-pill badge-success">مشاهده </span></a> || <a href="@Url.Action("EditForms","Forms",new { id=g.formid })" class="btn-edit"><span class="badge badge-pill badge-warning">ویرایش کردن</span></a></td>

                            </tr>

                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div>
    <!--Basic End-->
</div>
<div class="modal fade" id="MyModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body" id="myModalBody">
                ...
            </div>
        </div>
    </div>
</div>
@section PageScript
{
    <script src="~/Areas/KarFarma/Content/assets/js/plugins/moment/moment.min.js"></script>
    <script src="~/Areas/KarFarma/Content/assets/js/plugins/footable/footable.min.js"></script>
    <script src="~/Areas/KarFarma/Content/assets/js/plugins/footable/footable.active.js"></script>
    <script src="~/Areas/KarFarma/Content/assets/js/plugins/datatables/datatables.min.js"></script>
    <script src="~/Areas/KarFarma/Content/assets/js/plugins/datatables/datatables.active.js"></script>

    <script>
        function view(id) {
            $.get("/KarFarma/Forms/ShowFormsDetails/" + id, function (res) {

                $("#MyModal").modal();
                $("#myModalBody").html(res);

            });
        }
        
    </script>
}
